@model IEnumerable<Coolntern.Models.Process>

@foreach (var i in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="single-process text-center mb-30">
            <div class="process-ion">
                <span class="@i.image"></span>
            </div>
            <div class="process-cap">
                <h5>@i.order . @i.name</h5>
                <p>@i.description</p>
            </div>
        </div>
    </div>
}