@model Coolntern.Models.DetailJob

@{
    ViewBag.Title = "GetAcceptJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>Công việc của bạn không được duyệt</h2>

        @Html.Raw(Model.message)
    </div>
</div>

